:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    mat-toolbar {
        flex: none;
    }

    .page-content {
        flex: 1 1 100%;
        overflow: hidden;
    }
}
